<%- include('../partials/header.ejs') %>

    <%- include('../partials/menu.ejs') %>

        <div class="container mt-4">

            <div class="card">
                <div class="card-header">
                    LISTAGEM DE CLIENTE
                </div>
            </div>

            <% 
            clientes.data.forEach(clientes=>{
            %>

                    <div class="card mt-2 p1">
                        <div class="card-body">
                           Nome: <%=  clientes.nome_cliente %> <br>
                            ID: <%=  clientes.cod_cliente %> <br>
                           Email: <%=  clientes.email_cliente %>
                        </div>
                        <div class="btn-group mr-2">
						<a href="/editarCliente/<%= clientes.cod_cliente %>" class="btn btn-success btn-sm mr-2 ml-2">EDITAR</a>
						<a href="/excluirCliente/<%= clientes.cod_cliente%>" class="btn btn-danger btn-sm mr-2">EXCLUIR</a>
					</div>

                <% }) %>

                    </div>



        </body>

        <%- include('../partials/footer.ejs') %>

            </html>